@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color:; color:red;">
    <h1 class="display-4">Welcome from Toyota of Dalloiavale</h1>
    <p><img src="\building.png" alt="Toyota Building"/></p>
    <p></a>Please provide feedback relating to your most recent customer service experience!</p>
</div>
